* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  max-width: 2000px;
  margin: 0 auto;
  font-family: "Lato", sans-serif; }

.container {
  max-width: 1200px; }

.container::before,
.container::after {
  clear: both;
  content: "";
  display: table; }

header {
  background: url("../images/background.jpg") center 0/cover no-repeat;
  height: auto;
  position: relative;
  z-index: 2; }
  header .container {
    margin: 0 auto;
    height: auto; }
    header .container .logo {
      float: left;
      font-family: "Roboto", sans-serif; }
      header .container .logo p {
        margin-top: 35px;
        font-size: 25px;
        color: #fff;
        font-weight: 700;
        letter-spacing: 2px; }
        header .container .logo p span {
          color: #ed145b;
          letter-spacing: 3px; }
    header .container .nav {
      font-family: "Roboto", sans-serif; }
      header .container .nav ul {
        list-style: none;
        float: right;
        margin-top: 38px; }
        header .container .nav ul:first-child {
          color: #ed145b; }
        header .container .nav ul li {
          display: inline-block;
          line-height: 22px; }
          header .container .nav ul li a {
            text-decoration: none;
            letter-spacing: 1px;
            font-weight: bold;
            color: #fff;
            margin: 0 10px; }
            header .container .nav ul li a.active {
              color: #ed145b; }
            header .container .nav ul li a:hover {
              color: #ed145b; }
  header .nav-bottom {
    font-family: "Lato", sans-serif; }
    header .nav-bottom h1 {
      margin-top: 190px;
      color: #fff;
      text-align: center;
      font-size: 46px;
      text-transform: uppercase;
      font-weight: 300; }
      header .nav-bottom h1 span {
        font-weight: 700;
        letter-spacing: 2px; }
      header .nav-bottom h1:after {
        content: "";
        width: 200px;
        height: 3px;
        background: #ed145b;
        display: block;
        margin: 0 auto;
        margin-top: 35px;
        margin-bottom: 40px; }
    header .nav-bottom p {
      font-weight: 300;
      font-size: 22px;
      text-align: center;
      color: #fff;
      margin-top: 15px; }
    header .nav-bottom a {
      text-decoration: none;
      color: #fff;
      font-size: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 700;
      display: block;
      text-align: center;
      margin: 0 auto;
      margin-top: 65px;
      margin-bottom: 230px;
      width: 200px;
      height: 50px;
      line-height: 50px;
      border-radius: 25px;
      background-color: #ed145b;
      cursor: pointer; }
      header .nav-bottom a:hover {
        font-size: 20px; }

.strip {
  margin: 0 auto;
  position: relative;
  top: -39px;
  z-index: 1; }
  @media (max-width: 1600px) {
    .strip {
      top: -31px; } }
  @media (max-width: 1200px) {
    .strip {
      top: -24px; } }
  .strip img {
    fit-object: cover;
    width: 100%;
    min-height: 39px; }

/*# sourceMappingURL=style.prefixer.css.map */